
<div class="text-layout">

  <h1>{{ 'hoLa muNdo' | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
  
</div>


<button pButton
        (click)="mostrarNombre()"
        class="p-button-help"
        icon="pi pi-check" 
        iconPos="right"
        label="Cambiar Nombre">
        </button>

<div>
  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, tempore? Quidem quisquam ipsam repudiandae cum natus. Reprehenderit ratione, quis repellendus officia suscipit possimus veniam quam esse, accusamus, eius magnam nemo.
  </p-card>
</div>